@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --dark-blue: #003464;
    --dark-gray: #2A2A2A;
    --light-gray: #fafafa;
    --light-yellow: #FFFF38;
    --main-header-font-color: #FED001;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    height: 100%;
}

a {
    all: unset;
    cursor: pointer;
    color: inherit;
}

.cta {
    padding: 0.8rem 2rem;
    background-color: var(--main-header-font-color);
    border: 1px solid var(--main-header-font-color);
    border-radius: 4px;
    color: black;
}

img {
    max-width: 100%;
}

/* Containers */

.container {
    max-width: 90%;
    margin: 0 auto;
}

.dark-gray-container {
    background-color: var(--dark-gray);
    color: var(--light-gray);
}

.dark-blue-container {
    background-color: var(--dark-blue);
    color: var(--light-gray);
}


/* Main Header */

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.main-header-logo {
    padding: 1rem;
}

.main-header-nav {
    padding: 1rem;
    display: flex;
    color: var(--main-header-font-color);
    list-style-type: none;
    gap: 1rem;
}

.main-header-nav li a {
    border: 1px solid var(--main-header-font-color);
    border-radius: 2px;
    padding: 0.8rem 1rem;
    font-weight: 550;
    transition: all 0.25s ease-in-out;
}

.main-header-nav li a:hover {
    background-color: var(--main-header-font-color);
    color: black;
}


/* Main content */

.main-content {
    background-color: var(--light-gray);
}

/* Hero */

.hero-banner {
    max-height: fit-content;
    background-image: linear-gradient(var(--light-gray), var(--light-yellow));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.hero-content h1 {
    font-size: 4.5rem;
    color: var(--dark-gray);
    margin: 3rem 0;
    line-height: 1;
}


/* Courses */

.courses {
    max-width: 90%;
    margin: 3rem auto 6rem;
    text-align: center;
}

.courses h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.courses-cards {
    display: flex;
    gap: 2rem;
    flex: 1;
    text-align: left;
}

.course {
    background-color: white;
    line-height: 1.5;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.course:hover {
    transform: scale(1.01);
}

.course-content {
    padding: 1rem 1rem 2rem;
}

.course-content h3 {
    font-size: 1.4rem;
}


/* Our School */

.ourschool {
    display: flex;
}

.ourschool-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    padding: 3rem;
}

.ourschool-content p {
    font-size: 1.1rem;
    line-height: 1.5;
    padding-left: 2rem;
}

.ourschool-content h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
}


/* Contacts */

.contacts {
    text-align: center;
    min-height: 30rem;
}

.contacts h2 {
    font-size: 2.5rem;
}

.contacts-frame {
    width: 100%;
    height: 30rem;
    border: 1px solid #2A2A2A;
    overflow: hidden;
    border-radius: 8px;
}

.contacts-content-address {
    width: 100%;
    text-align: right;
    padding: 2rem 0;
}

.main-footer {
    padding: 2rem;
    text-align: center;
}