body{
    font-family: 'Times New Roman', Times, serif; /*This sets the fonts that 
    browsers will loads the texts.*/
}

h1{
    background-color: blueviolet;
    width: max-content; /*The value 'max-content' allows the element to occupy
    all space in the box content.*/

    padding: 10px 90px; /*This fills with spaces inside the element.*/
    margin: 10px; /*This fills with spaces outside the element.*/

    /*The first thing you need to know is that the border creates an edge 
    inside the element.
    If you use just the attr 'border: value;', you can use many dif values -
    color, style, and width (idk if you can apply more dif values). But this
    is very simple, and i believe that is better for a project to use specifics
    attrs - like these below. I hope thus the maintenance will be better.*/

    border-radius: 10px; /*This rounds the edge(border)*/
    border-style: inset; /*this stylizes the border*/
    border-color: gray; /*This sets the color of the border*/
    border-width: 5px; /*This sets the border thickness.*/
}

h1:hover{
    border-style: outset;
}

h2{
    width: fit-content; /*The value 'fit-content' restricts the element to occupy
    just the necessary space to displays the content in the box content. 
    It's the opposite of his brother 'max-content'*/

    background-color: cadetblue;
    margin: 10px; 
    padding: 10px 90px; 

    /*So, the attr outline, unlike of your brother 'border', sets an edge(border)
    outside the element. 
    The outline is an problematic attr, 'cause its dont respect the father element, i guess.
    So, my consel is: Avoid to use outline!*/
    
    outline-width: 100px 200px;
    outline-style: inset;
    outline-offset: 100px; /*This sets the distance between the content and the outline.*/
}

.h1-boxado{
    /*Listen, by default, the box content expands according to the quantity of content that an 
    element contains, it means that the content is the limit. In other words, if you set a width
    with 450px of limit, but you set 25px of padding and border, the size of the padding and border
    will add to the width more 50px and the final sum will be 500px of box size in the width. But 
    of course in the life will have situations that is not interesting that it occurs. 
    In CSS exists many ways to solve this problem. One of them is the box-sizing.*/

    box-sizing: border-box; /*The border-box value resricts the size of the element, making the 
    content adapts to the width. It means that the total size of the element is calculated including 
    padding and border. This means that if you add padding or a border to an element, it will not 
    increase its total size, but rather adjust the size of the content.  */
}