body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center; /* Align the content along the main axis. */
    align-items: center;  /* Align the content along the cross axis. */
    flex-direction: column; /*The container will don't ocuppy the same row (like a line), but the same column.
    However you have to know that the content inside it (children elements) will not inherit this property. */
}

.main-title {
    color: #385555;
}

.list{
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    gap: 16px;

}

.list-item{
    flex-basis: 280px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    background-image: url(img/thumbs/thumb02.jpg);
    background-repeat: no-repeat;
}

.list-item-image img{
    margin-top: 120px;
    border-radius: 50%;
}

.list-item-actions{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 10px;
    background-color: #ccc;
}