body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

/*You can use imagens as background */

.header{
    background-image: url(img/bg-2.jpg);
    padding-top: 4px;
    margin: 0;
    height: 500px;
    background-position: right bottom; /*This sets an especific position of the image selected. In 
    this case, i wanted that the corner 'right bottom' remain the priority. It means that if the 
    resolution of the image is changed, automatically the browser will reposition the image to the 
    corner right bottom preferably.*/
}

.header-content{
    margin-top: 50px;
    text-align: center;
}

.header-content h1{
    font-size: 56px;
    text-shadow: 2px 2px 5px white; /*This creates a shadow around it.*/
    text-transform: uppercase; 
}

.header-content p {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    display: inline-block;
    padding: 10px 8px;
    border-bottom: 2px solid;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease; /*This apllies to 
    the element some transition when a value of the properties is changed.*/
}

.header-content p:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.05); /*Obviously, transform the element*/
}

.header nav ul {
    margin: 6px 50px 0 0;
    text-align: right;
}

.header nav li{
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 5px;
}

.header nav a{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 16px;
    display: block;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    letter-spacing: 2px;
}

.header nav a:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}

.main-content{
    min-width: 90%;
    max-width: 80%;    
    margin: 10px auto;
}


.main-content article{
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 6px;
}

.main-content article h2{
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px solid #646464;
    margin-top: 0;
}

.main-content article a{
    display: block;
    margin: 5px 5px 5px auto;  /*This auto in the left align the element to the right*/
    padding: 12px 15px;
    width: fit-content;
    background-color: #ccc;
    text-decoration: none;  
}

.footer{
    color: white;
    background-color: #6b6c68;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 1px;
}